@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&family=Source+Serif+Pro:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: Source Sans Pro, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Index Page */

/* Headings and Logo */

header {
    height: 85px;
    width: 100%;
    background-color: #fff;
    position: fixed;
    top: 0%;
    z-index: 14;
}

h1,
h2 {
    font-family: Source Serif Pro, sans-serif;
    text-transform: capitalize;
    letter-spacing: 3px;
    color: #252525;
}

#logo {
    float: left;
    font-size: 160%;
    margin-left: 50px;
    height: 75%;
    margin-bottom: 25px;
}

#logo span {
    border: 2px solid #252525;
    border-radius: 1%;
}


/* navigation links */

#menu {
    font-size: 100%;
    letter-spacing: 2px;
    float: right;
    background-color: #fff;
}

#menu,
#logo {
    line-height: 75px;
}

#menu li {
    display: inline;
    list-style-type: none;
    margin-right: 30px;
}

#menu a:hover {
    border-top: 1px solid #3a3a3a;
}

.active {
    border-top: 1px solid #3a3a3a;
}

/* Head Line Text */

#homepage-headline-text {
    width: 85%;
    height: 450px;
    clear: both;
    margin: 85px auto 60px auto;
    padding: 70px 0 10px 80px;
    border: 1px solid #252525;
    margin-bottom: 20px;
}

#homepage-headline-text h1 {
    font-size: 500%;
}

#homepage-headline-text i {
    color: #c08f3b;
}

/* section-two */

#container-section-two {
    height: 450px;
    width: 85%;
    margin: 5% auto;
    background-color: #3a3a3a;
    padding: 1% 2%;
}

#text-section-two {
    height: 400px;
    width: 95%;
    margin: 2% auto 1% auto;
    border: 1.5px solid #fff;
}

#text-section-two h2 {
    color: #fff;
    font-size: 25px;
    letter-spacing: 2px;
    margin: 5% 2% 2% 2%;
    font-weight: 200;
}

/* Animation section */

#animation-section {
    width: max-content;
    height: 20%;
    margin: 12% auto;
}

#animation-section h2 {
    font-size: 190%;
    letter-spacing: 1%;
    margin-bottom: 2%;
    position: relative;
}

#animation-section p {
    font-size: 140%;
    position: relative;
    left: 75%;
    font: bolder;
}

/* Animation Code */

#animation-section h2::before,
#animation-section h2::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#animation-section h2::before {
    background: #fff;
    animation:
        typewriter 2s steps(14) 9s forwards;
}

#animation-section h2::after {
    width: 0.125em;
    background: black;
    animation:
        typewriter 2s steps(14) 9s forwards,
        blink 0.75s steps(14) infinite;
}

#animation-section p {
    opacity: 0;
    animation:
        fadeIn 9s ease 10s forwards;
}

@keyframes typewriter {
    to {
        left: 100%;
    }
}

@keyframes blink {
    to {
        background: transparent;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* section three */

#section-three {

    width: 750px;
    height: 500px;
    margin: 50px auto;
}

#left-container {

    width: 49%;
    height: 500px;
    border: 1px solid #252525;
    float: left;
}

#right-container {

    width: 50%;
    height: 500px;
    border: 1px solid #252525;
    float: right;
}

#right-container-picture {

    width: 100%;
    height: 100%;
    background: url(../images/Smoke.jpg) no-repeat;
    background-size: cover;
}

#left-container-text {

    font-size: 20px;
    text-align: right;
    padding: 100px 20px 100px 20px;

}

#left-container-text h2 {

    font-size: 25px;
    letter-spacing: 2px;
    margin-bottom: 12px;
}

/* Section Quote 1 */

#section-quote1 {
    width: 60%;
    height: auto;
    margin: 7% auto 7%;
    padding: 6% 3% 5% 5%;
    border: 1px solid #252525;
}

#section-quote-text1 {
    width: 70%;
    height: auto;
}

#section-quote-text1 p {
    margin-top: 3%;
    font-weight: bold;
    position: relative;
    left: 75%;
}

/* Section Four */

#section-four {
    width: 85%;
    height: auto;
    margin: 6% auto;
    background-color: #b4a592;
    padding: 4%;
}

#section-four-text {
    width: 90%;
    height: auto;
}

#section-four-text i {
    font-size: 60px;
    display: block;
}

#section-four-text i:hover {
    color: #c08f3b;
}

#section-four-text h2 {

    margin-bottom: 3%;
    width: 100%;
    padding-top: 3%;
}

.text-wrapper-2 {
    margin-left: 40%;
}

.text-wrapper-1 i {
    color: #3b624e;
}

.text-wrapper-2 i {
    color: #e03912;
}

.text-wrapper-3 i {
    color: #495460;
}

/* Footer */

footer {
    height: 5%;
    width: 100%;
    clear: both;
}

li {
    list-style: none;
}

.footer-links {
    text-align: center;
}

.footer-links>li {
    display: inline;
}

.footer-links i {
    font-size: 160%;
    margin: 0.5%;
    padding: 2%;
    color: #252525;
}

.footer-links i:hover {
    color: #c08f3b;
}

/* Wisdom drops Page */

/* Grid Gallery */

.container {
    margin-top: 6%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 100px 300px;
    grid-gap: 10px;
    grid-auto-flow: dense;
}

.gallery-item {
    width: 100%;
    height: 100%;
    position: relative;
}

.gallery-item .image {
    width: 100%;
    height: 100%;
    overflow: hidden;

}

.gallery-item .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    cursor: pointer;
    transition: .5s ease-in-out;
}

.gallery-item:hover .image img {
    transform: scale(1.5);
}

.gallery-item .text {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 25px;
    pointer-events: none;
    z-index: 4;
    -webkit-backdrop-filter: blur(5px) saturate(1.8);
    backdrop-filter: blur(5px) saturate(1.8);
}

.gallery-item:hover .text {
    opacity: 1;
    animation: fadeIn 1.5s ease forwards;
    padding: 1em;
    width: 100%;
}

.gallery-item:hover .text h2 {
    color: #fff;
    font-weight: 100;
    margin-bottom: 1%;
}

.w-1 {
    grid-column: span 1;
}

.w-2 {
    grid-column: span 2;
}

.w-3 {
    grid-column: span 3;
}

.w-4 {
    grid-column: span 4;
}

.w-5 {
    grid-column: span 5;
}

.w-6 {
    grid-column: span 6;
}

.h-1 {
    grid-row: span 1;
}

.h-2 {
    grid-row: span 2;
}

.h-3 {
    grid-row: span 3;
}

.h-4 {
    grid-row: span 4;
}

.h-5 {
    grid-row: span 5;
}

.h-6 {
    grid-row: span 6;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Contact Page */

/* Contact Text section */

#contact-headline-text {
    width: 30%;
    height: auto;
    clear: both;
    margin: 10% auto 10% auto;
    padding: 2% 2% 2% 2%;
    border: 1px solid #252525;
    margin-bottom: 20px;
}

#contact-headline-text h1 {
    font-size: 400%;
}

#contact-headline-text h3 {
    font-size: 130%
}

#contact-headline-text a {
    font-size: 90%;
}

/* Section Quote 2 */

#section-quote {
    width: 70%;
    height: auto;
    margin: 7% auto 7%;
    background-color: #b4a592;
    padding: 6% 3% 5% 5%;
}

#section-quote-text {
    width: 70%;
    height: auto;
}

#section-quote-text p {
    margin-top: 3%;
    font-weight: bold;
    position: relative;
    left: 75%;
}