@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&family=Source+Serif+Pro:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: Source Sans Pro, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Index Page */

/* Headings and Logo */

header {
    height: 85px;
    width: 100%;
    background-color: #fff;
    position: fixed;
    top: 0%;
    z-index: 14;
}

h1,
h2 {
    font-family: Source Serif Pro, sans-serif;
    text-transform: capitalize;
    letter-spacing: 3px;
    color: #252525;
}

#logo {
    float: left;
    font-size: 160%;
    margin-left: 50px;
    height: 75%;
    margin-bottom: 25px;
}

#logo span {
    border: 2px solid #252525;
    border-radius: 1%;
}


/* navigation links */

#menu {
    font-size: 100%;
    letter-spacing: 2px;
    float: right;
    background-color: #fff;
}

#menu,
#logo {
    line-height: 75px;
}

#menu li {
    display: inline;
    list-style-type: none;
    margin-right: 30px;
}

#menu a:hover {
    border-top: 1px solid #3a3a3a;
}

.active {
    border-top: 1px solid #3a3a3a;
}

/* Head Line Text */

#homepage-headline-text {
    width: 85%;
    height: 450px;
    clear: both;
    margin: 85px auto 60px auto;
    padding: 70px 0 10px 80px;
    border: 1px solid #252525;
    margin-bottom: 20px;
}

#homepage-headline-text h1 {
    font-size: 500%;
}

#homepage-headline-text i {
    color: #c08f3b;
}

/* section-two */

#container-section-two {
    height: 450px;
    width: 85%;
    margin: 5% auto;
    background-color: #3a3a3a;
    padding: 1% 2%;
}

#text-section-two {
    height: 400px;
    width: 95%;
    margin: 2% auto 1% auto;
    border: 1.5px solid #fff;
}

#text-section-two h2 {
    color: #fff;
    font-size: 25px;
    letter-spacing: 2px;
    margin: 5% 2% 2% 2%;
    font-weight: 200;
}

/* Animation section */

#animation-section {
    width: max-content;
    height: 20%;
    margin: 12% auto;
}

#animation-section h2 {
    font-size: 190%;
    letter-spacing: 1%;
    margin-bottom: 2%;
    position: relative;
}

#animation-section p {
    font-size: 140%;
    position: relative;
    left: 75%;
    font: bolder;
}

/* Animation Code */

#animation-section h2::before,
#animation-section h2::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#animation-section h2::before {
    background: #fff;
    animation:
        typewriter 2s steps(14) 9s forwards;
}

#animation-section h2::after {
    width: 0.125em;
    background: black;
    animation:
        typewriter 2s steps(14) 9s forwards,
        blink 0.75s steps(14) infinite;
}

#animation-section p {
    opacity: 0;
    animation:
        fadeIn 9s ease 10s forwards;
}

@keyframes typewriter {
    to {
        left: 100%;
    }
}

@keyframes blink {
    to {
        background: transparent;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* section three */

#section-three {

    width: 750px;
    height: 500px;
    margin: 50px auto;
}

#left-container {

    width: 49%;
    height: 500px;
    border: 1px solid #252525;
    float: left;
}

#right-container {

    width: 50%;
    height: 500px;
    border: 1px solid #252525;
    float: right;
}

#right-container-picture {

    width: 100%;
    height: 100%;
    background: url(../images/Smoke.jpg) no-repeat;
    background-size: cover;
}

#left-container-text {

    font-size: 20px;
    text-align: right;
    padding: 100px 20px 100px 20px;

}

#left-container-text h2 {

    font-size: 25px;
    letter-spacing: 2px;
    margin-bottom: 12px;
}

/* Section Quote 1 */

#section-quote1 {
    width: 60%;
    height: auto;
    margin: 7% auto 7%;
    padding: 6% 3% 5% 5%;
    border: 1px solid #252525;
}

#section-quote-text1 {
    width: 70%;
    height: auto;
}

#section-quote-text1 p {
    margin-top: 3%;
    font-weight: bold;
    position: relative;
    left: 75%;
}